.hight1 {
        min-height: 900px;

    }

.width1 {
        min-width: 1350px;
    }

.add_css {
        margin-top: 20px;
        margin: 20px;
        margin-left: 0px;
    }
.dieuhuong {
    position: relative;
        
}
.mt-5{
        margin: 0px 10px 10px 10px;
        
    }